dn: dc=ziyotek6,dc=local
objectClass: dcObject
objectClass: organization
o: ziyotek6.local
dc: ziyotek6

dn: ou=users,dc=ziyotek6,dc=local
objectClass: organizationalUnit
objectClass: top
ou: users

dn: ou=groups,dc=ziyotek6,dc=local
objectClass: organizationalUnit
objectClass: top
ou: groups