dn: olcDatabase={2}hdb,cn=config
changeType: modify
replace: olcSuffix
olcSuffix: dc=ziyotek6,dc=local
-
replace: olcRootDN
olcRootDN: cn=admin,dc=ziyotek6,dc=local
-
add: olcRootPW
olcRootPW: {SSHA}7zpYqBmMYCK139+NxmoF/Bk58maFhU25 